<nav class="subbar">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#access" data-toggle="tab"><i class="fa fa-code"></i> <span>System</span></a></li>
        <li><a href="#roles" data-toggle="tab"><i class="fa fa-user"></i> <span>Roles</span></a></li>
    </ul>
</nav>

<section class="tab-content content">

    <section class="tab-pane active fade in" id="access">

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="tab-pane fade" id="roles">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>

            <div class="hidden-xs col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br />
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
