<nav class="subbar">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#news-tab" data-toggle="tab"><i class="fa fa-code"></i> <span>News</span></a></li>
        <li><a href="#course-tab" onclick="course_tab.load();" data-toggle="tab"><i class="fa fa-user"></i> <span>Courses</span></a></li>
        <li><a href="#schedule-tab" data-toggle="tab"><i class="fa fa-user"></i> <span>Schedules</span></a></li>
    </ul>
</nav>

<section class="tab-content content">

    <section class="tab-pane active fade in" id="news-tab">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Something
                    </div>
                    <div class="panel-body">
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="tab-pane fade" id="course-tab">
        <div id="course-container"></div>
    </section>

    <section id="schedule-tab" class="tab-pane fade"></section>

</section>
