<div id="banner_container" data-interval="false" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#banner_container" data-slide-to="0" class="active"></li>
        <li data-target="#banner_container" data-slide-to="1"></li>
        <li data-target="#banner_container" data-slide-to="2"></li>
        <li data-target="#banner_container" data-slide-to="3"></li>
        <li data-target="#banner_container" data-slide-to="4"></li>
        <li data-target="#banner_container" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Media/Banners/banner1.png" alt="banner 1" />
        </div>

        <div class="item">
            <img src="~/Media/Banners/banner2.jpg" alt="banner 2" />
        </div>

        <div class="item">
            <img src="~/Media/Banners/banner3.jpg" alt="banner 3" />
        </div>

        <div class="item">
            <img src="~/Media/Banners/banner4.jpg" alt="banner 4" />
        </div>

        <div class="item">
            <img src="~/Media/Banners/banner5.jpg" alt="banner 5" />
        </div>
        <div class="item">
            <img src="~/Media/Banners/banner6.jpg" alt="banner 6" />
        </div>
    </div>

    <hr class="transition-timer-carousel-progress-bar" />

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#banner_container" role="button" data-slide="prev">
        <span class="carousel-nav glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#banner_container" role="button" data-slide="next">
        <span class="carousel-nav glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>