<div id="footer-wrapper" class="col-xs-12">
    <div id="brand-container" class="row">
        <div class="icon-wrapper col-xs-12">
            <div class="pull-left">
                <i class="fa fa-5x fa-facebook-square"></i>
                <i class="fa fa-5x fa-youtube-square"></i>
                <i class="fa fa-5x fa-twitter-square"></i>
            </div>
            <div class="pull-left brand-address">
                <span style="font-size: 12px; text-align: center; color: #fff;">
                    <span class="brand-name">Cơ sở 1:</span> 150 nguyễn cư trinh q1.
                </span>
            </div>
        </div>
    </div>
    <div id="copyright-wrapper" class="row">
        <div class="col-xs-12">
            <p>Copyright © 2017 Doconaca.</p>
        </div>
    </div>
</div>

